{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.2"}
  aleph/aleph         {:mvn/version "0.4.7"}
  cheshire/cheshire   {:mvn/version "5.13.0"}
  clj-time/clj-time   {:mvn/version "0.15.2"}
  exoscale/cloak      {:mvn/version "0.1.10"}}}
